<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Resume</title>
  </head>
  <body>
    <h2>Gavyn Caldwell</h2>
    <h3>Address: 1800 South Yellow Brick Road</h3>
    <h3>Phone: 080 008 0080</h3>
    <h2>Experience</h2>

      <h4>January 2014 to December 2015</h4>
      <h3>Church of Jesus Christ of Latter Day Saints</h3>
      <h3>International Representative</h3>
      <h3>Responsibilities:</h3>

      <p>
      Elaboration of statistical reports.
      Regional supervisor and leader of a workforce.
      Training instructor to individuals and mass groups
      Customer service to all types of clients.
      Door to door selling
      Answer telephones and give information to callers, take messages, or transfer calls to appropriate individuals.
      Greet visitors or callers and handle their inquiries or direct them to the appropriate persons according to their needs.
      Complete forms in accordance with company procedures.
      Maintain scheduling and event calendars.
      Schedule and confirm appointments for clients, customers, or supervisors.
      Coordinate conferences, meetings, or special events, such as luncheons or graduation ceremonies.
      Manage projects or contribute to committee or team work.
      Prepare conference or event materials, such as flyers or invitations.
    </p>
    <h2>Skills</h2>
    <p>
      SPANISH HAHAHAHAHAHAHAHAHAHAH Yo se como hablar espanol!! Hijos de madre!!
    </p>
    <a href="/">Home</a>
    <a href="/contacts">Contacts</a>
  </body>
</html>
