h1 {
  text-align: center;
  color: #368057;
  border-bottom: 2px solid #b1d7c6;
  font-style: italic;
}
body {
  background-color: #303030;
}
a {
  color: #2f7c42;
  font-size: 60px;
  margin-left: 25%;
}

a:hover {
  color: #80e8a9;
}

ul {
  list-style: none;
}

ol {
  font-size: 50px;
  color: #a9c4b6;
  text-align: center;

}
h2 {
  color: #126634;
  line-height: 10px;
  text-decoration: underline;
}

h3, h4 {
  color: #8fab8e;
  font-style: italic;
}

p {
  color: #b5b5b5;
  text-align: center;
  border: 2px dashed #7ea383;
  padding: 10px;
}
